body {
  background-color: white;
  margin: auto 300px;
}

.container {
  max-width: 1920px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.col-one-fifth {
  width: 20%;
}

.col-one-fifth > img {
  width: 100%;
}

.text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

#oldlace {
  background-color: oldlace;
}

.text-gray {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: lightgray;
}
