body {
  background-color: white;
}
.container {
  max-width: 1920px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 75px;
  background-color: white;
}

.column-canvas-logo img {
  height: 50px;
  width: 150px;
  position: absolute;
  top: 10px;
  left: 300px;
}

.column-navigation{
  position: absolute;
  top: 10px;
  right: 300px;
}

.column-navigation button:not(.contact-us-button){
  border: none;
  background-color: white;
  font-family: 'Avenir';
  font-size: 24px;
  color: #bababa;
  margin-right: 25px;
}

.contact-us-button {
  padding: 10px 20px;
  background-color: #294463;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

.line {
  background-color: #e9ebee;
  height: 3px;
  width: 1903px;
  position: absolute;
  top: 75px;
}

.patient-picture {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  max-width: 1920px;
}

.column-patient-picture {
  background-image: url("images/product/product-header.jpg");
  height: 750px;
  width: 1300px;
  background-size: cover;
  position: relative;
}

.white-header {
  font-family: 'Tiempos Headline';
  font-size: 48px;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 225px;
  left: 50px;
}

.white-paragraph {
  font-family: 'Avenir';
  font-size: 22px;
  color: white;
  position: absolute;
  top: 375px;
  left: 50px;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
  position: absolute;
  height: 750px;
  width: 1300px;
}

.charting {
  display: flex;
  position: relative;
  margin: 100px auto;
}

.charting-picture img {
  width: 650px;
  position: relative;
  top: 25px;
  left: 300px;
}

.charting-text {
  width: 650px;
  position: absolute;
  top: 100px;
  right: 200px;
}

.gray-header {
  font-family: 'Tiempos Headline';
  color: #6f6976;
  font-weight: lighter;
  font-size: 32px;
}

.gray-text {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  color: #6f6976;
}

.gray-text-italics {
  font-family: 'Tiempos Headline';
  font-style: italic;
  font-weight: 300;
  color: #6f6976;
}

.learn-more-button {
  border: none;
  background-color: white;
  color: #1996da;
  padding: 0px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.population {
  display: flex;
  margin: 100px auto;
}

.population-picture {
  width: 650px;
  position: absolute;
  bottom: 25px;
  right: 300px;
}

.population-text {
  width: 650px;
  position: relative;
  top: 25px;
  left: 300px;
}
